<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up and Login</title>
    <style>
      body {
        background-color: black;
        color: white;
      }
      
      .product-display {
        width: 300px; /* Adjust the width as needed */
        margin: 0 auto;
        text-align: center;
      }

      .product-display img {
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="product-display">
      <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/immersion-rod/v/b/9/2000-go-zeta-c01-gold-one-original-imagugs6zfprfxmh.jpeg?q=70" alt="Product Image">
    </div>
    <a href="https://www.flipkart.com/gold-one-go-zeta-c01-2000-w-shock-proof-immersion-heater-rod/p/itm01af74f640edc?pid=IMMGUGS6HYJF8R4Y&cmpid=product.share.pp&_refId=PP.5da099d4-1802-4335-8fed-b38af95ac7ca.IMMGUGS6HYJF8R4Y&_appId=CL">GOLD ONE GO-ZETA-C01 2000 W Shock Proof Immersion Heater Rod</a>
    <p>Water Proof Sealed terminals for safety and longer life Copper plated heating element provides protection from corrosion & rust Double ISI mark for safety & performance assuring peace of mind Plastic handle to prevent from shock & rust<p>
    <p>
      <a href="{{ url_for('signup') }}">Sign Up</a> or <a href="{{ url_for('login') }}">Log In</a>
    </p>
  </body>
</html>
